<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1085089698007-lgm37druq5dh877sldcisat2b9pekl66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085089698007-lgm37druq5dh877sldcisat2b9pekl66</string>
	<key>API_KEY</key>
	<string>AIzaSyCMeiHW4Ku8u7IcbkNLkydUlReoSudrB4I</string>
	<key>GCM_SENDER_ID</key>
	<string>1085089698007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuyucel.Karga</string>
	<key>PROJECT_ID</key>
	<string>karga-a8d81</string>
	<key>STORAGE_BUCKET</key>
	<string>karga-a8d81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085089698007:ios:b87ec3aa0b44cd0c</string>
	<key>DATABASE_URL</key>
	<string>https://karga-a8d81.firebaseio.com</string>
</dict>
</plist>